<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<!-- Respostas  -->
<div class="title">{{ titulo }}</div>
<div class="explicacao">{{ explicacao }}</div>
<div id="list">

    {% for resposta in respostas %}
        <div class="post">
            <hr>
            respondido por {{ resposta.criador }} | <span class="date">{{ resposta.dtCriacao }}</span> <br /><br />
            {{ resposta.texto }} <br />
        </div>
    {% endfor %}
</div>

<a class="button" href={% url 'postar' 'responder' pk %}>Responder</a>
</body>
</html>